/************** PHOTOGRAPHER HEADER SECTION **************/
.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.photographer-infos h1 {
  color: #d3573c;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0px;
}

.photographer-infos p.photographer-city {
  color: #901c1c;
  font-size: 1.4rem;
}

.photographer-infos p.photographer-tagline {
  color: rgb(54, 53, 53);
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/******** PHOTOGRAPHER GRID SECTION *********/
#photographer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-evenly;
  /* margin: 0 auto; */
  /* width: 80vw; */
  margin: 0 100px;
}

.card {
  width: 350px;
}

.card img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  cursor: pointer;
}

/* .card img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
} */

.card-video {
  display: block;
  width: 350px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  cursor: pointer;
}

/* .card-video:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
} */

.card-content {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.card-content > h3 {
  margin: 0;
}

.heart-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-wrapper > p {
  /* padding-right: 20px; */
  margin: 0;
  margin-right: 30px;
}

.heart-wrapper .heart {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.heart-wrapper .heart-plain.hidden {
  opacity: 0;
}

/*************** COUNTER LIKES AND PRICE SECTION ****************/

.counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 40px;
  background-color: #db8876;
  width: 375px;
  height: 70px;
  padding-left: 34px;
  padding-right: 34px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 24px;
  font-weight: 500;
}

/*************** MODAL SECTION ****************/

#contact_modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* margin: 0 auto; */
}

.modal {
  position: absolute;
  top: 70px;
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: 400;
  text-align: left;
  line-height: 80px;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 97%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  padding-left: 20px;
}

.no-scroll {
  overflow: hidden;
}

/*************** TRI/SORT SECTION ****************/

.sort-images {
  margin: 0 100px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.sort-images > label {
  margin-right: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

.sortSelect {
  width: 170px;
  height: 60px;
  padding-left: 20px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.sortOption {
  background-color: aqua;
}

/****************** LIGHTBOX SECTION ********************/

.lightbox {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.lightbox-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100vw - 50px);
}

#lightbox-image {
  /* height: 70vh; */
  max-height: 70vh;
  max-width: 100%;
  border-radius: 5px;
}

#lightbox-video {
  /* height: 70vh; */
  max-height: 70vh;
  max-width: 100%;
  border-radius: 5px;
}

#lightbox-prev,
#lightbox-next {
  font-size: 50px;
  color: #901c1c;
  cursor: pointer;
  opacity: 0.5;
  transition: 300ms;
}

#lightbox-prev:hover,
#lightbox-next:hover {
  opacity: 1;
}

#lightbox-prev {
  margin-right: 30px;
}

#lightbox-next {
  margin-left: 30px;
}

#close-lightbox {
  position: absolute;
  /* margin-left: 20px; */
  top: 0;
  right: 0;
  cursor: pointer;
}

#lightbox-title {
  text-align: left;
  color: #901c1c;
  font-size: 1.3rem;
}
